<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th>Buyer name&emsp;&emsp;</th>
	  <th>total amount&emsp;&emsp;</th>
	  <th>create time&emsp;&emsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.buyer_name %></td>      
		<td><%= list.order.subtotal %>$</td>
		<td><%= list.created_at %>$</td>
        <td><u><%= link_to 'Show details', list,:style=>"color:orange" %></u></td>
         <td><u><%= link_to 'solved', list, method: :delete, data: { confirm: 'Are you sure?' },:style=>"color:orange" %></u></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


